body {
width:100%;
font-family: 'Maven Pro', sans-serif;
}
header {
background-color:#242424;
}
.wrapper {
width:65%;
margin:0 auto;
}
.header-left {
color:#57c5a0;
line-height: 50px;
float:left;
display:block;
}
.header-left h1 {
font-size:1.4em;
font-family: 'Open Sans', sans-serif;
}
.header-right {
display:block;
line-height:50px;
float:right;
color:#828282;
}
.header-search {
display:block;
border-right: 1px #7d7d7d solid; 
float:left;
padding-right:10px;
margin-right:10px;}
.header-login {
border-right: 1px #7d7d7d solid; 
display:block;
float:left;
padding-right:10px;
font-size: 0.9em;
}
.header-nav {
width:100%;
background-color:#fff;
clear:both;
}
.header-nav .wrapper .header-left ul li {
display:block;
float:left;
width:80px;
text-align:center;
padding-left:5px;
padding-right:5px;
border-left: 1px solid #eeeeee;
line-height: 56px;
font-family: 'Open Sans', sans-serif;
}
.header-nav .wrapper .header-left ul li:last-child {
border-right: 1px solid #eeeeee;
}
.header-nav .wrapper .header-left ul li a {
text-decoration:none;
color:#414141;
}
.slider {
width:100%;
height:620px;
background-color:#f1eeea;
clear:both;
}
.slider-image {
display:block;
float:left;
width:50%;
}
.slider-right {
display:block;
box-sizing:border-box;
float:left;
width:50%;
padding-left:2%;
}
.green-btn {
background-color:#57c5a0;
padding:25px 5px 25px 5px;
color:white;
font-weight:bold;
}
.slider-prize {
display:block;
width:11%;
margin-top:15%;
margin-bottom:2%;
}
.slider-bigtitle {
clear:both;
font-size:2.5em;
display:block;
margin-top:1%;
}
.slider-smalltitle {
display:block;
margin-top:3%;
font-size:1.4em;
width:95%;
}
.slider-btn {
display:block;
float:left;
background-color:white;
padding:10px;
color:#7b7b7b;
font-size:1.2em;
margin:1px;
}
.slider-icon {
display:block;
margin-top:3%;
}
.slider-icon span:last-child {
color:#57c5a0;
}
.header-fav, .header-panier {
border-left: 1px solid #cccccc;
display:block;
float:left;
line-height:56px; 	
padding-left:15px;
padding-right:15px;
}
.header-panier {
border-right: 1px solid #cccccc;
}
.header-fav i, .header-panier i {
padding-left:5px;
padding-right:5px;
line-height:20px;
}
.background-fav, .background-panier {
text-decoration:none;
color:white;
padding:4px;
width:20px;
text-align:center;
display:inline-block;
line-height:20px;
border-radius:7px;
font-size:0.8em;
margin-left:5px;
margin-right:5px;
}
.background-fav {
background-color:#adadad;
}
.background-panier {
background-color:#57c5a0;
}
.slider-tri-barre {
display:block;
clear:both;
width:100%;
background-color:#2e2e2e;
height:25px;
padding-top:10px;
}
.slider-tri-barre-item {
height:10px;
width:20%;
display:block;
float:left;
background-color:black;
}
.slider-tri-border {
display:block;
width:90%;
margin:0 auto;
height:6px;
margin-top:2px;
}
.border {
display:block;
margin:0 auto;
height:6px;
margin-top:2px;
border-right:2px solid #2e2e2e;
}
.border.last {
border:none;
}
.slider-tri-border.active {
background-color:#57c5a0;
}
.slider-tri {
width:100%;
background-color:#2e2e2e;
height:100px;
clear:both;
}
.slider-tri-item {
display:block;
float:left;
width:20%;
}
.active .slider-tri-item-title {
color:white;
}
.active .slider-tri-item-small {
color:#8b8b8b;
}
.slider-tri-item span {
color:#979797;
display:block;
text-align:center;
line-height:20px;
}
.slider-tri-item-title {
font-weight:bold;
}
.slider-tri-item-small {
font-size:0.8em;
}
.categories {
background-color:#242424;
width:100%;
height:220px;
clear:both;
}
.categories-item {
width:33.333333%;
display:block;
float:left;
position:relative;
margin-top:20px;
}
.categories-item img {
margin:0 auto;
display:flex;	
justify-content:center;
align-items:center;
flex-wrap:wrap;	
}
.categories-title {
padding:10px;
font-size:1.3em;
color:white;
background-color:rgba(0, 0, 0, 0.7); 
}
.content {
height:500px;
background-color:#ebe7df;
width:100%;
}
.content-title {
margin-top:30px;
font-size:1.4em;
display:block;
float:left;
}
.content-btn-show {
display:block;
float:right;
margin-top:30px;
}
.content-btn-show a {
text-decoration:none;
padding:10px;
border:1px solid #bcb5a7;
color:#bcb5a7;
}


