/* Style principale */

body  {
width:100%;
background-image:url('../img/background.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
font-family: 'Roboto', sans-serif;
}
*, *:after, *:before {
box-sizing:border-box;
}
.clearfix:after{
content:'';
display:block;
clear:both;
}
.wrapper {
width:70%;
margin:0 auto;	
background-color: rgba(255, 255, 255, 0.7);
height:auto;	
box-shadow: 0px 5px 30px #000;
margin-top:10px;
overflow:hidden;
padding-bottom:10px;
}

/* Header et navigation */

header {
width:70%;
height:auto;
margin:0 auto;	
overflow:hidden;
}
.mainnav, .mainnav ul{
width:100%;	
margin:auto;
margin-top:10px;
margin-bottom:10px;
}
.mainnav ul li a {
font-family: 'Black Ops One';
display:block;
float:left;
width:14.66666666%;
margin:1%;
text-align:center;
font-size:1vw;
padding:5px;
padding-left:10px;
padding-right:10px;
background-color:white;
box-shadow: 3px 3px 0px #000;
}
.mainnav ul li a:hover {
background-color:black;
color:white;	
}
.panier nav ul li a:hover, .connexion nav ul li a:hover {
background-color:black;
color:white;
}
.mainnav ul li a.active {
background-color:black;
color:white;
}
.panier  nav ul li a.active {
background-color:black;
color:white;
}
.panier {
width:30%;
float:right;
margin-top:5px;
margin-right:3%;
}
.connexion {
width:30%;
float:left;
margin-top:5px;
margin-left:3%;
}
.connexion nav ul li a, .panier nav ul li a{
display:block;
float:left;
font-family: 'Black Ops One';
margin:5px;
padding:5px;
font-size:1vw;
padding-left:3%;
padding-right:3%;
background-color:white;
box-shadow: 3px 3px 0px #000;
}
.search {
width:70%;
margin:0 auto;
}
.textesearch {
width:83%;
}
.searchsearch {
cursor:pointer;
width:15%;
}
.search input {
height:40px;
font-family: 'Black Ops One';
}
li a {
text-decoration:none;
color:black;	
}
.banniere {
width:100%;
margin:auto;
}
.banniere img {
display:block;
width:12vw;
margin:auto; 	
}

/* Partie page accueil */

/* Slider */
	
	/* jssor slider bullet navigator skin 05 css */
	/*
	.jssorb05 div           (normal)
	.jssorb05 div:hover     (normal mouseover)
	.jssorb05 .av           (active)
	.jssorb05 .av:hover     (active mouseover)
	.jssorb05 .dn           (mousedown)
	*/
	.jssorb05 {
		position: absolute;
	}
	.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
		position: absolute;
		/* size of bullet elment */
		width: 16px;
		height: 16px;
		background: url('../img/b05.png') no-repeat;
		overflow: hidden;
		cursor: pointer;
	}
	.jssorb05 div { background-position: -7px -7px; }
	.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
	.jssorb05 .av { background-position: -67px -7px; }
	.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

	/* jssor slider arrow navigator skin 22 css */
	/*
	.jssora22l                  (normal)
	.jssora22r                  (normal)
	.jssora22l:hover            (normal mouseover)
	.jssora22r:hover            (normal mouseover)
	.jssora22l.jssora22ldn      (mousedown)
	.jssora22r.jssora22rdn      (mousedown)
	*/
	.jssora22l, .jssora22r {
		display: block;
		position: absolute;
		/* size of arrow element */
		width: 40px;
		height: 58px;
		cursor: pointer;
		background: url('../img/a22.png') center center no-repeat;
		overflow: hidden;
	}
	.jssora22l { background-position: -10px -31px; }
	.jssora22r { background-position: -70px -31px; }
	.jssora22l:hover { background-position: -130px -31px; }
	.jssora22r:hover { background-position: -190px -31px; }
	.jssora22l.jssora22ldn { background-position: -250px -31px; }
	.jssora22r.jssora22rdn { background-position: -310px -31px; }

/* Partie principal accueil */

.wrappermain {
width:75%;
padding:5px;
float:left;
height:auto;		
}
.nouveaute, .offres {
width:100%;	
overflow:hidden;
}

.itemboutique {
width:24%;
float:left;
height:250px;
padding:5px;
text-align:center;
border:1px solid black;
margin-right:0.5%;
margin-left:0.5%;
}
.itemboutique img {
height:150px;
}
.itemboutique h3 {
font-size:18px;
padding:5px;
font-family: 'Black Ops One';
}
.itemboutique p {
font-size:24px;
color:red;
}
.itemboutique hr {
color:black;
width:75%;	
}
.voir, .acheter {
width:46%;
float:left;	
text-align:center;
margin-left:2%;
margin-right:2%;
margin-top:5px;
}
.voir a, .acheter a {
font-size:0.9vw;
width:100%;
text-decoration:none;
color:white;
background-color:black;
padding:5px;
border-radius:3px;
display: inline-block;
vertical-align: middle;
-webkit-transform: translateZ(0);
transform: translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: transform;
transition-property: transform;
}
.voir a:hover, .acheter a:hover {
-webkit-transform: scale(0.9);
transform: scale(0.9);
}

/* Partie widget */ 

.wrapperwidgets {
width:25%;
float:left;
height:auto;
padding:5px;
padding-top:20px;
}
.widgetun {
width:100%;
height:250px;
border:1px black solid;	
}
.widgetdeux {
width:100%;
height:250px;
border:1px black solid;
}
.widgettrois {
width:100%;
height:auto;
}
.widgetdeux {
margin-top:20px;
}
.widgetun img {
display:block;
float:left;
height:8vw;
margin-top:30px;
margin-left:3%;
margin-right:2%;
}
.prize {
margin-left:3%;
}
.barrer {
display:block;
float:left;
font-size:1.5vw;
text-decoration:line-through;
line-height:3.5vw;
}
.nouveauprize {
margin-right:5px;
font-size:2vw;
color:red;
display:block;
float:left;
line-height:3.5vw;
}
.nomdujeu {
margin-top:28px;
font-size:1vw;
}
.widgetdeux p {
width:100%;
text-align:center;
line-height:2.7vw;
}
h2 {
font-size:30px;
font-family: 'Black Ops One';
line-height:40px;
}
h4 {
width:100%;
background-color:black;
color:white;
font-size:0.85vw;
text-align:center;
line-height:35px;
text-transform: uppercase;
}

/* Style pour la page jeux */

.wrapperjeux {
width:70%;
margin:0 auto;	
background-color: rgba(255, 255, 255, 0.7);
height:auto;	
box-shadow: 0px 5px 30px #000;
overflow:hidden;
}
.wrapperjeux h2 {
padding-left:5px;
display:block;
width:50%;
float:left;
line-height:50px;
}
.wrapperjeux .itemboutique {
margin-bottom:5px;
}
.tri {
display:block;
width:50%;
float:left;
line-height:50px;
font-size:20px;
}
select {
font-size:20px;
}
.filtre {
font-size:20px;
margin-left:3%;
}
.pagination  {
display:block;
width:100%;
text-align:center;
line-height:50px;
}
.pagination ul li {
display:inline;
font-size:20px;
margin:10px;
}
.pagination ul li a:hover {
background-color:black;
color:white;
}
.pageactive {
background-color:black;
color:white;
padding:3px;
}
.wrapperjeux .widgetun {
width:38%;
margin:0;
float:left;
margin-right:2%;
border:none;
border-right:solid 1px black;
height:auto;
}
.wrapperjeux .widgetdeux {
width:60%;
float:left;
margin:0;
border:none;
border-left:solid 1px black;
}
.wrapperjeux .widgetdeux img{
width:100%;
height:100%;
}
.widgetfoot .widgetun p {
width:100%;
text-align:center;
line-height:53.75px;
font-size:20px;
}

/* Style pour la page vendre */

.vendre form {
padding:10px;
margin-top:10px;
}
.name  {
width:60%;
height:30px;
margin-left:2%;
}
.vendre form label {
font-size:18px;
}
.vendre form p {
margin-bottom:5px;
line-height:50px;
}
.vendre input {
margin-left:2%;
}
.vendre p:last-child {
width:70%;
text-align:center;
}
.envoyer {
font-size:20px;
font-family: 'Black Ops One';
margin-top:40px;
}

/* Style pour la page fiche */

.ficheun {
width:40%;
height:auto;
float:left;
padding-top:35px;
}
.fichedeux {
padding-top:35px;
width:60%;
height:auto;
float:left;
padding-left:1%;
padding-right:10%;
margin-bottom:30px;
}
.ficheun h3 {
text-align:center;
font-size:20px;
font-family: 'Black Ops One';
}
.ficheun img {
height:25vw;
display:block;
float:right;
}
.fichedeux i {
color:#D7D120;
font-size:20px;
margin:0.4%;
}
.fichedeux p {
line-height:38px;
font-size:1.2vw;
}
.bold {
text-decoration:underline;
}
.prizefiche {
display:block;
float:left;
font-size:40px;
line-height:50px;
width:40%;
}
.addpanier {
display:block;
float:left;
font-size:20px;
line-height:50px;
width:60%;
}
.addpanier a {
background-color:black;
color:white;
padding:5px;
text-decoration:none;	
border-radius:3px;
}
.addpanier a i{
color:white;
}
.widgettrois {
margin-top:20px;
}
.widgettrois img {
width:100%;
}
.miniature img {
height:6vw;	
margin:5px;
}
.miniature img:hover {
opacity:0.8;	
}

/* Style page mon compte */

.moncompte {
padding-top:20px;
}
.moncompte p {
font-size:1vw;
text-align:center;
line-height:50px;
}
.back {
background-color:black;
color:white;
padding:5px;
border-radius:3px;
text-decoration:none;
}
.underline {
text-decoration:underline;
}

/* Style page mon panier */

.monpanier {
padding-top:20px;
clear:both;
overflow:hidden;
}
.item {
border-top:1px black solid;
clear:both;
}
.itemdernier {
border-bottom:1px black solid;
border-top:1px black solid;
clear:both;
overflow:hidden;
}
.one {
width:40%;
height:auto;
float:left;
}
.two, .three, .four {
width:20%;
float:left;
}
.monpanier h3 {
font-size:20px;
border-bottom:1px solid black;
line-height:25px;
}
.one img {
display:block;
height:10vw;
margin-top:10px;
margin-bottom:10px;
margin-left:5%;
float:left;
}
.float {
float:left;
margin-top:20px;
margin-left:2%;
}
.float p {
line-height:30px;
font-size:1vw;
}
.float a {
line-height:100px;
color:gray;
opacity:0.8;
font-size:0.8vw;
}
.two p, .three p, .four p {
margin-top:20px;
font-size:1vw;
}
.codepromo {
width:50%;
margin-top:10px;
overflow:hidden;
float:left;
}
.codepromo p, .codepromo a  {
float:left;
line-height:20px;
}
.codepromo input {
height:20px;
float:left;
width:25%;
}
.codepromo a {
margin-left:2%;
text-decoration:none;
background-color:black;
color:white;
border-radius:3px;
padding-left:5px;
padding-right:5px;
}
.prixfinal {
width:50%;
margin-top:10px;
float:left;
}
.prixfinal p {
float:right;
font-size:1.5vw;
}
.paiement {
margin-top:50px;
width:100%;
text-align:center;
}
.paiement a {
text-decoration:none;
background-color:black;
color:white;
padding:5px;
}

/* Partie footer */

footer {
width:70%;
margin:0 auto;
height:130px;
padding:15px;
background-color: rgba(0, 0, 0, 1);
}

.foot1 {
width:25%;
float:left;
border-right:1px white solid;
height:90px;
margin-top:5px;
margin-bottom:5px
}
.social {
width:60%;
overflow:hidden;
margin-top:15px;
margin-left:auto;
margin-right:auto;
}
.social a img {
display:block;
float:left;
width:30.3333%;
margin-left:1.5%;
margin-right:1.5%;
}
.social a img:hover  {
opacity:0.7;	
}
.foot2 {
width:50%;
float:left;
border-right:1px white solid;
height:90px;
margin-top:5px;
margin-bottom:5px;
color:white;
}
.foot21, .foot22 {
display:block;
float:left;	
width:50%;
margin-top:15px;
}
.foot21 ul li, .foot22 ul li {
margin-left:25%;		
}
.foot21 ul li a, .foot22 ul li a {
text-decoration:none;
color:white;
}
.foot21 ul li a:hover, .foot22 ul li a:hover {
text-decoration:underline;
}
.foot3 {
width:25%;
float:left;
height:90px;
margin-top:5px;
margin-bottom:5px
}
.foot1 h5 ,.foot2 h5 ,.foot3 h5 {
text-align:center;
color:white;
font-size:16px;
font-family: 'Black Ops One';
}
.secure {
width:100%;
margin-left:auto;
margin-right:auto;	
}
.secure img{
display:block;
height:50px;
margin-top:10px;
margin-left:auto;
margin-right:auto;
}

/* Partie responsive */

.responsive-btn {
display:none;
cursor:pointer;
}
.navresponsive {
width:100%;
display:none;
}
.navresponsive ul li {
text-align:center;
font-size:20px;
}
.navresponsive ul li a {
display:block;
width:100%;
background-color:black;
color:white;
padding-top:10px;
padding-bottom:10px;
}
.navresponsive ul li a.active {
background-color:white;
color:black;
}
.navresponsive ul li a:hover {
background-color:white;
color:black;
}

/* Bouton top */

.top_link {
position:fixed;
right:20px;
bottom:20px;
display:inline-block;
padding:15px;
background:#000;
color:#fff;
-moz-border-radius:40px;
-webkit-border-radius:40px;
border-radius:50px;
opacity:1;
z-index:2000;
}